<h2> Mon Panier </h2>
<ul>
	<% @cart.join_table_cart_items.each do |join| %>
	<strong>Ajouté le: <%= join.created_at%></strong>
	<li><%= join.item.title %></li>
	<li>Description: "<%= join.item.description %>"</li> 
	<li>Prix: "<%= join.item.price %> $ "</li> 
	<li>Image_url :  "<%= join.item.image_url %>"</li>
	<a href="/join_table_cart_items/<%=join.id%>" data-method="DELETE"> Elever de mon panier </a>
	<br><br>
	<% end %>
</ul>
<br>
<strong> prix total à payer: <%= @sum %> $</strong><br>
<button><%= link_to "Passer le commande", join_table_order_items_path, method: :post %></button><br>
<p ><%= link_to "Retour aux produits", root_path%></p>